// ==================================================================
// Tables
// ==================================================================
.table {
    // border: 1px solid #ccc;
    position: relative;
    width: 100%;

    td a {
        color: $black;
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }

    thead,
    tbody {
    }

    thead {
        tr {
            th {
                background: #f4f4f7;
                border-bottom: 2px solid #DADCD8;
                color: $black;
                font-size: .75rem;
                line-height: .75rem;
                padding: .5rem .25rem;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    tbody {
        tr {
            // border-top: 1px solid #ccc;
            font-size: 0;
            td {
                // border-right: 1px solid #ccc;
                color: $black;
                font-size: .75rem;
                height: 2rem;
                line-height: .75rem;
                min-height: 1rem;
                padding: .5rem .25rem;
                &:last-child {
                    border-right: none;
                }

            }
        }
    }


    // ------------------------------------------------------------------
    // Striped Tables
    // ------------------------------------------------------------------
    &-striped {
        tbody {
            tr {
                &:nth-child(even) {
                    background: rgba(255, 106, 0, 0.1);
                }
            }
        }
    }


    // ------------------------------------------------------------------
    // Row Background on Hover
    // ------------------------------------------------------------------
    &-hover {
        tbody {
            tr:hover {
                background: rgba(255, 106, 0, 0.15);
            }
        }
    }


}
