// ==================================================================
// Tables
// ==================================================================
.table {
    border: 1px solid #ccc;
    display: block;
    position: relative;
    width: 100%;

    td a {
        color: $black;
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }

    thead,
    tbody {
        display: block;
    }

    thead {
        tr {
            display: flex;
            th {
                align-content: center;
                align-items: center;
                background: rgba(72, 76, 80, 0.7);
                border-right: 1px solid #ccc;
                color: $white;
                display: inline-flex;
                font-size: .75rem;
                justify-content: flex-start;
                line-height: .75rem;
                padding: .5rem .25rem;
                text-align: center;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    tbody {
        tr {
            border-top: 1px solid #ccc;
            display: flex;
            font-size: 0;
            td {
                align-content: center;
                align-items: center;
                border-right: 1px solid #ccc;
                color: $black;
                display: inline-flex;
                font-size: .75rem;
                height: 2rem;
                justify-content: flex-start;
                line-height: .75rem;
                min-height: 1rem;
                padding: .5rem .25rem;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }


    // ------------------------------------------------------------------
    // Striped Tables
    // ------------------------------------------------------------------
    &-striped {
        tbody {
            a {
                display: block;
                &:nth-child(even) {
                    tr {
                        background: rgba(255, 106, 0, 0.1);
                    }
                }
            }
        }
    }


    // ------------------------------------------------------------------
    // Row Background on Hover
    // ------------------------------------------------------------------
    &-hover {
        tbody {
            a:hover {
                tr {
                    background: rgba(255, 106, 0, 0.2);
                }
            }
        }
    }


}
