// ==================================================================
// Quick Stats
// ==================================================================
.quick-stats {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__container {
        background: #fff;
        border: 1px solid #ccc;
        flex: 1 1 auto;
        margin-bottom: 1rem;
        padding: 1rem;
    }

}
