/*
 * Variables
 *
 */


// ==================================================================
// Z-Index Values
// ==================================================================
$z-base:               0;




// ==================================================================
// Colors
// ==================================================================
$orange:               #ff6600;
$orange-dark:          #ff3300;
$orange-light:         #ff9900;

$black:                #333;
$off-white:            #f0f0f0;
$white:                #fff;


// ==================================================================
// Font Weights
// ==================================================================
$fw-thin:              100;
$fw-xlight:            200;
$fw-light:             300;
$fw-normal:            400;
$fw-medium:            500;
$fw-semibold:          600;
$fw-bold:              700;
$fw-xbold:             800;
$fw-black:             900;
